.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.NavBarContainer{
  height: 50px;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
}

span button {
  margin: 0 10px;
  text-decoration: none;
  color: #000000;
  font-size: 1.5em;
  border-radius: 2%;
}
span button:hover {
  border-bottom: solid #000000;
  border-right: solid black;

}
